@font-face {
    font-family: "tf2build";
    font-style: normal;
    src:
        local(""),
        url("/tf2build.ttf") format("truetype");
}

@mixin tf2build {
    font-family: "tf2build", sans-serif;
}
