@use "~/styles/colors";
@use "~/styles/fonts";

.dot {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

#wrapper-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin: auto;

    #searchbar {
        flex-basis: 100%;
        text-align: center;

        height: 1.5rem;
        color: lightgray;
        @include fonts.tf2build;
        background-color: colors.$foreground;
        padding: 0.25rem;
        box-sizing: border-box;
    }

    .wrapper-filter {
        flex: 0 1 auto;

        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    label {
        height: 20px;
        width: 20px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

$max-width-filters: calc((30px * 20) + (10px * 19) + 2rem);

@media (max-width: $max-width-filters) {
    #wrapper-filters {
        width: 350px;
    }
}

@media (min-width: $max-width-filters) {
    #wrapper-filters {
        width: calc((30px * 20) + (10px * 19));
    }
}

#cosmetics-table {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1rem;
    justify-content: center;

    .item-wrapper {
        background-color: colors.$foreground;
        height: 100px;
        width: 100px;
    }

    .item-image {
        height: 100px;
        display: block;
    }

    .underline {
        height: 3px;
    }
}
