$background: #1A1411;
$foreground: #342E29;

html, body {
    margin: 0;
    background-color: $background;
    font-family: system-ui, sans-serif;
}

#cosmetics-table {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1rem;
    justify-content: center;

    padding: 1rem;
    padding-bottom: 5rem;
    box-sizing: border-box;

    .item-wrapper {
        background-color: $foreground;
    }

    .item-image {
        height: 100px;
        display: block;
    }

    .underline {
        height: 3px;
    }
}
