@use "~/styles/colors";

html,
body {
    margin: 0;
    background-color: colors.$background;
    font-family: system-ui, sans-serif;
}

#root {
    padding: 1rem 0 10rem 0;
    box-sizing: border-box;
}
