@use "~/styles/colors";
@use "~/styles/fonts";

#search {
    @include fonts.tf2build;

    text-align: center;

    height: 30px;
    color: lightgray;
    background-color: colors.$foreground;
    border: 0;

    padding: 0.25rem;
    box-sizing: border-box;
}
