@use "~/styles/colors";

#cosmetics-table {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 10px;
    justify-content: center;

    .item-wrapper {
        background-color: colors.$foreground;
    }

    .item-image {
        height: 100px;
        display: block;
    }

    .underline {
        height: 3px;
    }
}
